*,html,body
{
    margin: 0;
    padding: 0;
}

.animation	
{	
    opacity: 0;	
}

header
{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
}

.secondary
{
    background: rgb(85, 21, 21);
    transition: all 0.2s ease-in;
    border-bottom: 2px solid white;
}

header ul li
{
    display: inline-block;
    text-align: center;
}

header h1
{
    text-align: center;
    margin-top: 60px;
    height: 95px;
    font-size: 72px;
    font-family: 'Alconica';
    color: #eee;
}

header .row
{
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}

header .row ul li a
{
    padding-left: 15px;
    padding-right: 15px;
    color: #eee;
    transition: all 0.3s ease-in;
}

header .row ul li a:hover,header .row ul li a:focus
{
    text-decoration: none;
    color: #F2AF58;
}

.background-image
{
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(..//images/Wood-Grain-3.jpg);
    background-position: center;
    background-attachment: fixed;
}

.header-line
{
    width: 120px;
    border-bottom: 2px solid white;
    margin: 0 auto;
}

.carousel-inner
{
    /* height: 100%; */
    height: 1200px;
    width: 100%;
    color: white;
    text-align: center;
    /* overflow: visible; NOTE: This would fix the problem, but isn't allowed by carousel */ 
}

.header-buffer
{
    height: 300px;
}

.slider, .slider .carousel-item
{
    /* height: auto; */
    width: auto;
    color: white;
    text-align: center;
    position: sticky;
}

.carousel-item section
{
    text-align: center;
    /* overflow-y: scroll; */
    overflow-y: visible;
}

.photos
{
    height: 100%;
    left: 20%;
}

.gallery-container
{
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.thumbnails img:hover, #ld-widescreen img:hover
{
    -webkit-box-shadow: 0 0 15px #eee;
    box-shadow: 0 0 15px #eee;
}

.thumbnails a
{
  float: left;
  width: 20%;
}
  
.thumbnails img
{
  float: left;
  width: 90%;
  margin: 5%;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.seven-three-text
{
    background-color: #bbb;
    color: black;
    border: 1px solid white;
    height: 300px;
}

.seven-three-text h5
{
    margin-top: 40px;
    text-align: left;
    font-family: 'Alconica';
    color: rgb(160, 40, 40);
}

.seven-three-text h4
{
    margin-top: 10px;
    text-align: left;
    font-family: 'Alconica';
}

.seven-three-text p
{
    margin-top: 40px;
    text-align: left;
}

.seven-three-text p a i
{
    color: rgb(128, 32, 32);
    margin: 20px 10px 0 10px;
    text-align: center;
}

.seven-three-text p a i:hover
{
    color: rgb(248, 116, 116);
    margin: 10px 10px 0 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.news
{
    height: 100%;
    left: 20%;
    /* overflow-y: scroll; */
}

.news img
{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    z-index: 1;
}

.shows
{
    height: 100%;
    left: 29%;
    /* overflow-y: scroll; */
}

.shows .row .row
{
    background-color: rgba(34, 26, 16, 0.5);
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 2px;
}

.shows-date, .shows-venue
{
    margin: 5 0 5 0;
    color: rgb(243, 146, 19);
    font-family: 'Alconica';
    text-align: left;
}

.shows-buttons
{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12 0 0 0;
}

.info-button, .map-button
{
    font-size: 20px;
    background-color: rgb(255, 177, 74);
    text-align: center;
    border-radius: 4px;
    margin-left: 8px;
    padding: 12px 10px 12px 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    width: 100px;
}
  
.info-button:hover, .map-button:hover
{
    background-color: #000;
    color: rgb(243, 146, 19);
    border: 1px solid rgb(243, 146, 19);
    text-decoration: none;
}

.band-image img
{
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: center;
}

.bios
{
    height: 100%;
    left: 22%;
}

.bios li
{
    list-style: none;
}

.bios .band-bio
{
    background-color: rgba(34, 26, 16, 0.5);
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 2px;
    text-align: left;
    color: #F2AF58;
}

.bios .band-bio p
{
    margin: 0 0 25px 0;
    font-size: 16px;
}

.bios .band-bio h2
{
    font-family: 'Alconica';
}

.bios .band-bio h4
{
    font-family: 'Alconica';
    text-decoration: underline;
}

.bios .band-bio .col-sm-6
{
    float: left;
    text-align: left;
    text-decoration: none;
}

.music
{
    height: 100%;
    left: 24%;
    /* overflow-y: scroll; */
}

.music img
{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    border: 2px solid rgb(212, 212, 212);
    z-index: 1;
}

.music img:hover
{
    transition: all 0.2s ease 0s;
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
}

.music .square-image-music
{
    /* overflow: hidden; */
    overflow: visible;
    position: relative;
    float: left;
}

.music .square-image-music:hover
{
    overflow: visible;
    z-index:100;
}

.music .square-image-music:hover .inner-text
{
    z-index: 100;
    transition: all 0.2s ease-in;
}

.inner-text
{
    position: absolute;
    background: rgb(241, 241, 241);
    width: 300px;
    color: black;
    text-align: left;
    float: left;
    transition: all 0.2s ease-in;
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
    padding-left: 5px;
    padding-top: 5px;
}

.inner-text h4, .inner-text h6
{
    font-family: 'Alconica';
}

.inner-text p
{
    font-family: 'Alconica';
    color: black;
    font-size: 20px;
}

.inner-text p a i
{
    color: rgb(128, 32, 32);
}

.inner-text p a i:hover
{
    color: rgb(248, 116, 116);
    transition: all 0.3s ease 0s;
}

.videos
{
    height: 100%;
    left: 27%;
}

.videos .link-list ul li
{
    list-style: none;
    text-align: center;
}

.videos .link-list ul li button
{
    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: none;
    cursor: pointer;
    color: rgb(241, 241, 241);
    font-size: 18;
}

.videos .link-list ul li button:hover
{
    color: rgb(243, 146, 19);
    padding-top: -1px;
    text-shadow: 0 1px 0 rgb(14, 14, 14),
                 0 2px 0 rgb(43, 43, 43),
                 0 2px 0 rgb(226, 226, 226),
                 0 3px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 2px rgba(0,0,0,.3),
                 0 2px 3px rgba(0,0,0,.2),
                 0 3px 4px rgba(0,0,0,.25),
                 0 4px 5px rgba(0,0,0,.2),
                 0 5px 6px rgba(0,0,0,.15);
}

.videos .link-list ul li button:focus
{
    text-decoration: none;
    outline: none;
    color: rgb(243, 146, 19);
}

.videos .invite-click h4
{
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
    text-decoration: none;
    color: #eee;
    padding-bottom: 5px;
}

.videos .embed-video h2
{
    justify-content: center;
    align-items: center;
    margin: 50 0 0 0;
    text-decoration: none;
    color: #eee;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
    border-radius: 4px;
}

.videos .embed-video h2 a
{
    text-decoration: none;
    color: #c4302b;
    padding-bottom: 5px;
}

.videos .embed-video h2 a:hover
{
    transition: all 0.3s ease-in;
    color: rgb(255, 202, 202);
}

.store
{
    height: 100%;
    left: 21%;
}

.store .wide-box
{
    margin-top: 10px;
}

.store .wide-box a
{
    color: rgb(255, 177, 74);
    margin: 0 30px 0 30px;
}

.store .wide-box i
{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 11px 0px 0 0;
}

.store .wide-box i:hover
{
    transition: all 0.2s ease-in;
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
}

.store .wide-box p
{
    color: #eee;
    margin-top: 60px;
    font-size: 20;
}

.ld
{
    height: 100%;
    left: 22%;
}

/* LD */
.ld .row
{
    margin: 0 -200px 0 -200px;
}

.ld .ld-title
{
    height: 100px;
    width: auto;
    float: left;
}

.ld .title-row
{
    margin: 10px -200px 0 -200px;
}

.ld .ld-square-image
{
    float: left;
    height: 600px;
    margin-top: 20px;
}

.ld .ld-square-image img
{
    height: 300px;
    width: 300px;
    border: 1px solid white;
}

.ld .ld-square-image img:hover
{
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
}

.ld-inner-text
{
    text-align: left;
    margin-top: 20px;
    display: block;
    background-color: rgba(34, 26, 16, 0.5);
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 5px #eee;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}

.ld-inner-text-2, .ld-inner-text-3
{
    display: block;
    text-align: center;
    background-color: rgba(34, 26, 16, 0.5);
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 5px #eee;
    border-radius: 4px;
    margin: 10px auto;
    width: 300px;
    height: 100px;
}

.ld-inner-text-2 p, .ld-inner-text-2 h4, .ld-inner-text-3 p, .ld-inner-text-3 h4
{
    padding-top: 25px;
}

.ld .ld-square-image img:hover
{
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
}

.ld-inner-text-2 h4, .ld-inner-text-3 h4
{
    font-family: 'Alconica';
    margin: 0 10px 0 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.ld-inner-text-2 a
{
    color: #c4302b;
    margin: 0 10px 0 10px;
}

.ld-inner-text-3 a
{
    color: white;
    margin: 0 10px 0 10px;
}

.ld-inner-text-2 a:hover
{
    transition: all 0.2s ease-in;
    color: rgb(248, 116, 116);
}

.ld-inner-text-3 a:hover
{
    transition: all 0.2s ease-in;
    color: rgb(243, 146, 19);
}

#new-ep
{
    color:rgb(128, 32, 32);
}

#new-single
{
    color:rgb(128, 32, 32);
}

#new-single:hover
{
    color: rgb(248, 116, 116);
    transition: all 0.3s ease 0s;
}

#contactInfo
{
    z-index: 200;
    position: fixed;
    color: #eee;
    text-align: right;
    top: 2%;
    right: 2%;
    /* width: 100px; */
}