body {
  font-family: Verdana, Arial;
  background-image: url("images/Wood-Grain-3.jpg");
  background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: center top;
  background-color: #ECECEC;
  color: #3B3B3B;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  min-height: 100%;
  display: flex;
}

.content {
  width: 1000px;
  margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
  background-color: rgba(200,200,200,0.6);
  border: 1px solid #000000;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  min-height: 100%;
}

.bio-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(100,100,100,0.6);
  border: 1px solid #000000;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  min-height: 100%;
}

.show-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid #000000;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  min-height: 100%;
}

.header-title {
	background: rgba(0,0,0,1);
	float: left;
	height: 220px;
	width: 66.67%;
}

.header-title p {
	color: #FFFFFF;
	float: left;
  font-family: 'Alconica';
	font-size: 4em;
	margin: 60px 5px 10px 10px;
}

.header-ld {
  background-color: rgba(0,0,0,1);
  float: left;
  height: 220px;
  width: 100%;
  border-bottom: 1px solid #100000;
}

.header-logo {
	background: #000000;
	float: right;
	height: 220px;
	width: 33.33%;
}

.header-logo img {
	max-height: 200px;
	max-width: 200px;
	float: right;
	margin: 10px 0 0 0;
}

#navigation-header {
	height: 32px;
	width: 100%;
	margin-bottom: 32px;
	background-color: rgba(0,0,0,1);
	font-family: 'Alconica';
	font-size: 1.3em;
	float: left;
}

.nav-bar {
	width: 100%;
	height: 32px;
	margin: -3px 0 0 0;
	float: left;
	text-align: center;
	display: block;
}

.nav1 {
  background-color: #362713;
  height: 32px;
  width: 14%;
  float: left;
	color: #FFFFFF;
  margin: 0 4px 0 -4px;
}

.nav2 {
  background-color: #7F5C2E;
  height: 32px;
  width: 14%;
  float: left;
	color: #FFFFFF;
  margin: 0 4px 0 -4px;
}

.nav3 {
  background-color: #FFB85B;
  height: 32px;
  width: 14%;
  float: left;
	color: #FFFFFF;
  margin: 0 4px 0 -4px;
}

.nav4 {
  background-color: #402E17;
  height: 32px;
  width: 14%;
  float: left;
	color: #FFFFFF;
  margin: 0 4px 0 -4px;
}

.nav5 {
  background-color: #E5A652;
  height: 32px;
  width: 14%;
  float: left;
	color: #FFFFFF;
  margin: 0 4px 0 -4px;
}

.nav6 {
  background-color: #362713;
  height: 32px;
  width: 16%;
  float: left;
  color: #FFFFFF;
  margin: 0 4px 0 -4px;
}

.nav1.active {
  background-color: #362713;
  height: 32px;
  width: 14%;
  float: left;
	color: #000000;
  margin: 0 4px 0 -4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav2.active {
  background-color: #7F5C2E;
  height: 32px;
  width: 14%;
  float: left;
	color: #000000;
  margin: 0 4px 0 -4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav3.active {
  background-color: #FFB85B;
  height: 32px;
  width: 14%;
  float: left;
	color: #000000;
  margin: 0 4px 0 -4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav4.active {
  background-color: #402E17;
  height: 32px;
  width: 14%;
  float: left;
	color: #000000;
  margin: 0 4px 0 -4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav5.active {
  background-color: #E5A652;
  height: 32px;
  width: 14%;
  float: left;
	color: #000000;
  margin: 0 4px 0 -4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav6.active {
  background-color: #362713;
  height: 32px;
  width: 16%;
  float: left;
  color: #000000;
  margin: 0 4px 0 -4px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav1:hover {
  color: #000000;
  float: left;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav2:hover {
  color: #000000;
  float: left;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav3:hover {
  color: #000000;
  float: left;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav4:hover {
  color: #000000;
  float: left;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav5:hover {
  color: #000000;
  float: left;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

.nav6:hover {
  color: #000000;
  float: left;
  text-decoration: none;
  text-shadow: 1px 1px 1px #DDDDDD;
}

#cover-photo {
/*	border: 4px solid #261700;
	border-radius: 8px;*/
  border-top: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 70%;
  margin-left: 15%;
	margin-right: 15%;
  margin-bottom: -10px;
}

.text-container-large {
	width: 70%;
  margin-left: 15%;
	margin-right: 15%;
	/*color: rgb(20,12,0);*/
  color: rgb(30,22,10);
	font-family: 'Alconica';
	font-size: 26px;
}

#footer {
	background: #000000;
  font-family: "Ratio",sans-serif;
	float: left;
	height: 80px;
	width: 100%;
  margin: 0px 0 0 0;
  padding: 20px 0 0 0;
  text-align: right;
  font-style: normal;
  font-weight: 100;
}

#footer a {
  color: #EEEEEE;
  text-decoration: none;
  padding-right: 5px;
}

#footer a:hover {
  color: #F2AF58;
  text-decoration: none;
  padding-right: 5px;
}
.whitespace {
  width: 100%;
  height: 55px;
  float: left;
  /*background-color: #FFFFFF;*/
}

.blackspace {
  width: 100%;
  height: 55px;
  float: left;
  background-color: #000000;
}

.section-title {
  /*color: #140C00;*/
  color: #EEEEEE;
  padding-left: 1.5em;
  font-family: 'Aclonica';
}

.show-table {
  color: #F2AF58;
  width: 100%;
  padding-bottom: 70px;
  background-color: rgba(0,0,0,0);
  font-family: 'Alconica';
  font-size: 1.5em;
  float: left;
}

.show-table h2 {
  padding-left: 1.2em;
  text-decoration: underline #444444;
}

.date {
  width: 30%;
  padding-left: 2.0em;
  margin-top: -20px;
  float: left;
}

.date h6 {
  margin-top: -25px;
}

.venue {
  width: 40%;
  margin-top: -20px;
  margin-left: -10px;
  float: left;
}

.venue h6 {
  margin-top: -25px;
}

.map-button {
  width: 6%;
  float: left;
  background-color: #F2AF58;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 15px;
  text-decoration: none;
  color: #000000;
}

.map-button:hover {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #000000;
  color: #F2AF58;
  border: 1px solid #F2AF58;
}

.info-button {
  width: 6%;
  float: left;
  background-color: #F2AF58;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  margin-top: 18px;
  margin-left: 15px;
  text-decoration: none;
  color: #000000;
}

.info-button:hover {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #000000;
  color: #F2AF58;
  border: 1px solid #F2AF58;
}

.translucent-space {
  width: 100%;
  height: 32px;
  background-color: rgba(200,200,200, 0.6);
  float: left;
}

.transparent-space {
  width: 100%;
  height: 32px;
  background-color: rgba(200,200,200, 0.0);
  float: left;
}

.bio-table {
  height: 100%;
  width: 90%;
  margin: auto;
  background-color: rgba(200,200,200, 0.0);
  font-family: 'Alconica';
}

.bio-container {
  float: left;
  width: 90%;
  height: 300px;
  border: 2px solid #000000;
  margin-left: 5%;
  margin-right: 5%;
}

.image-container {
  float: left;
  width: 26%;
  height: 100%;
  margin-left: 2%;
  background-color: #000000;
}

.image-container img {
  float: left;
  width: 100%;
  height: 300px;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.vertical-gap {
  float: left;
  width: 3%;
  background-color: rgba(0,0,0,0);
}

.text-container {
  float: left;
  width: 66%;
  height: 300px;
  font-family: 'Slabo 13px';
  font-size: 1.0em;
  background-color: rgba(0,0,0,0);
  margin-top: -20px;
  box-sizing: border-box;
}

.text-container h3,
.text-container h2 {
  margin: 20px 20px 0px 20px;
  color: #F2AF58;
}

.text-container p {
  margin: 0px 20px 10px 20px;
  /*color: #000000;*/
  color: #AB7C3E;
}

.text-container ul {
  float:left;
  margin-top: 5px;
  /*color: #000000;*/
  color: #AB7C3E;
}

.text-container a {
  /*color: #000000;*/
  color: #AB7C3E;
  text-decoration: none;
}

.text-container li a:hover {
  /*text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb;*/
  color: #7F5C2E;
  text-shadow: 0 1px 0 #DDDDDD,
               0 2px 0 #F2AF58,
               0 3px 0 #F2AF58;
}

.music-table {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: rgba(200,200,200, 0.0);
  font-family: 'Alconica';
}

.music-image-container {
  float: left;
  width: 35%;
  height: 100%;
  margin-left: 5%;
}

.music-image-container img {
  float: left;
  width: 300px;
  height: 300px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.music-text-container {
  float: left;
  width: 55%;
  height: 300px;
  font-family: 'Slabo 13px';
  background-color: rgba(255,255,255,0.6);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.music-text-container a:hover {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.music-text-container h3,
.music-text-container h2 {
  margin: 20px 20px 0px 20px;
  color: #000000;
}

.music-text-container h6 {
  margin: 0px 20px 0px 20px;
  color: #000000;
}

.music-text-container li {
  margin-left: 25px;
  margin-top: 10px;
  color: #000000;
  text-align: left;
}

.music-text-container a {
  margin: 5px 15px 10px 10px;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.col1 {
  float: left;
  width: 35%;
  padding-bottom: 32px;
}

.col2 {
  float: left;
  color: #000000;
  width: 65%;
  padding-bottom: 32px;
}

.col2 a {
  color: #000000;
}

.col2 a:hover {
  color: #F2AF58;
  /*text-shadow: 1px 1px 1px #F2AF58;*/
  text-shadow: 0 1px 0 #888888,
               0 3px 0 #000000;
}

.col2 h5,
.col2 h6 {
  margin-top: -20px;
  margin-left: 2px;
}

.music-text-container-2 {
  float: left;
  width: 300px;
  height: 100%;
  margin-left: 5%;
  font-family: 'Slabo 13px';
  background-color: rgba(255,255,255,0.0);
  text-decoration: none;
  color: #000000;
}

.music-text-container-2 a {
  text-decoration: none;
  color: #000000;
}

.music-text-container-2 a:hover {
    text-shadow: 0 1px 0 #aaa,
               0 2px 0 #a9a9a9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.music-text-container-2 h2 {
  margin: 20px 20px 0px 20px;
  color: #000000;
}

.music-text-container-2 h6 {
  margin: 0px 20px 0px 20px;
  color: #000000;
}

.music-text-container-2 li {
  margin-left: 0px;
  margin-top: 10px;
  color: #000000;
  text-align: left;
}

.gallery-container {
  border: 5px solid #000000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.thumbnails a {
  float: left;
  width: 33%;
}

.thumbnails img {
  float: left;
  width: 90%;
  margin: 5%;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.col1-ld {
  color: #000000;
  float: left;
  width: 35%;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-left: -10px;
  box-sizing: border-box;
}

.col1-ld img {
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
}

.music-text-container-ld {
  float: left;
  width: 300px;
  font-family: 'Slabo 13px';
  background-color: rgba(255,255,255,0.6);
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-left: 1.5em;
  box-sizing: border-box;
}

.music-text-container-ld h2,
.music-text-container-ld h3 {
  margin-top: 10px;
  margin-bottom: -10px;
  color: #000000;
}

.music-text-container-ld a {
  text-decoration: none;
  color: #000000;
}

.music-text-container-ld a:hover {
    text-shadow: 0 1px 0 #aaa,
               0 2px 0 #a9a9a9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.col2-ld {
  float: left;
  width: 65%;
  padding-left: 1.5em;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.col2-ld p {
  float: left;
  width: 90%;
  color: #DDDDDD;
  font-size: 1.3em;
  font-family: 'Alconica';
  background-color: rgba(255,255,255,0.0);
  padding-left: 1.2em;
  box-sizing: border-box;
  padding: 6px;
}

.col2-ld h2 {
  float: left;
  width: 100%;
  color: #F2AF58;
  background-color: rgba(0,0,0,0);
  font-family: 'Alconica';
  font-size: 2.5em;
  margin-bottom: -10px;
}

.col2-ld h5 {
  box-sizing: border-box;
  margin-bottom: -5px;
}

.col2-ld h5 a {
  text-decoration: none;
  color: #FFFFFF;
}

.col2-ld h5 a:hover {
  color: #AAAAAA;
  text-shadow: 0 1px 0 #DDDDDD,
               0 2px 0 #F2AF58,
               0 3px 0 #F2AF58;
}

.labels {
  float:left;
  padding-right: 20px;
}

.labels label {
  padding: 5px;
  display: block;
  margin-bottom: 20px;
  text-align: right;
}

.asterisk {
  /*display: block;*/
  font-size: 16px;
  color: #FF0000;
}

.inputs {
  float: left;
}

input {
  font-family: Arial;
  color: rgba(20,20,20,1);
  padding: 10px;
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
  width: 400px;
  box-shadow: rgba(0,0,0,0.1);
  box-shadow: rgba(0,0,0,0.1) 0px 0px 0px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px;
}

textarea {
  font-family: Arial;
  font-size: 13px;
  color: rgba(20,20,20,1);
  padding: 10px;
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
  width: 400px;
  height: 200px;
  max-width: 400px;
  max-height: 200px;
  min-width: 400px;
  min-height: 200px;
  box-shadow: rgba(0,0,0,0.1) 0px 0px 0px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 0px;
}

.g-recaptcha {
  float:left;
  margin-bottom: 20px;
}

#submit-button {
  width: 303px;
  border: 1px solid #F2AF58;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.1);
  background-color: #F2AF58;
  color: #000000;
  font-family: 'Alconica';
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10px;
}

#submit-button:hover {
  background-color: #000000;
  border-radius: 4px;
  border: 1px solid #F2AF58;
  color: #F2AF58;
  cursor: pointer;
}

/*
font-family: 'Metamorphous', cursive;
font-family: 'Aclonica', sans-serif;
font-family: 'Slabo 13px', serif;
font-family: 'Trade Winds', cursive;
*/

/* latin */
@font-face {
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  src: local('Aclonica'), local('Aclonica-Regular'), url(https://fonts.gstatic.com/s/aclonica/v6/KL5OjqZGxkpCc9qpqsIjA_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'), url(https://fonts.gstatic.com/s/metamorphous/v6/wGqUKXRinIYggz-BTRU9ej0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Metamorphous';
  font-style: normal;
  font-weight: 400;
  src: local('Metamorphous'), url(https://fonts.gstatic.com/s/metamorphous/v6/wGqUKXRinIYggz-BTRU9eugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 13px'), local('Slabo13px-Regular'), url(https://fonts.gstatic.com/s/slabo13px/v3/B9U01_cNwYDvIHK04hXMriEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 13px'), local('Slabo13px-Regular'), url(https://fonts.gstatic.com/s/slabo13px/v3/fScGOqovO8xyProgHURSR_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-weight: 400;
  src: local('Trade Winds'), local('TradeWinds'), url(https://fonts.gstatic.com/s/tradewinds/v5/P7L1H4TWVDNJivDGg_--QI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}